
.aboutIntro{
    font-size: 35px;
    color: antiquewhite;
    padding-left:50px;
    padding-top:40px;
    padding-bottom:0px;
    width: 100%;
    background-color: none;
    margin:none;
  }

  .aboutDes{
    margin-top:0px;
    font-size:17px;
    color:rgb(240, 235, 229);
    padding-top:40px;
    padding-left:50px;
    padding-bottom:50px;
    text-align: left;
    background-color: none;
    width:100%;
    line-height: 10px;
  }