.contactIntro{
    font-size: 35px;
    color: antiquewhite;
    padding-left:50px;
    padding-top:40px;
    padding-bottom:0px;
    width: 100%;
    background-color: black;
    margin:none;
    

}

.contactDetails{
    margin-top:0px;
    font-size:18px;
    color:rgb(124, 118, 111);
    padding-top:40px;
    padding-left:50px;
    padding-bottom:0px;
    text-align: left;
    background-color: black;
    width:100%;
    line-height: 25px;
    height:191px;

}

