.navbar {
  overflow: hidden;
  background-color:black;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbtn:hover {
  background: black;
  color:gold;
}

.navbtn {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  border:none;
  background-color: black;
}