
.skillsIntro{
    font-size: 35px;
    color: antiquewhite;
    padding-left:50px;
    padding-top:40px;
    padding-bottom:0px;
    width: 100%;
    background-color: none;
    margin:none;
  }

  .skillsDetails{
    margin-top:0px;
    font-size:17px;
    color:rgb(240, 235, 229);
    padding-top:40px;
    padding-left:50px;
    padding-bottom:50px;
    text-align: left;
    background-color: none;
    width:100%;
    line-height: 10px;
  }


  .card{
    border-radius: 10px;
    border-color: solid 1px blanchedalmond;
    width:100px;
    height:110px;
    background-color: ghostwhite;
    margin-left:20px;
    margin-bottom:20px;
    text-align: center;
    padding:40px;


  }

  .cardLine{
    display:flex
  }


  .ch_card{
    border-radius: 10px;
    border-color: solid 1px blanchedalmond;
    width:100px;
    height:110px;
    background-color: ghostwhite;
    margin-left:20px;
    margin-bottom:20px;
    text-align: center;
    padding:40px;

  }

  .ch_card:hover{
    transform:scale(1.1);
  }